.App {
  text-align: center;
  background-color: #282c34;
  min-width: 100vw;
  min-height: 100vh;
}
h1 {
  margin-top: 0;
  color: aliceblue;
}

#canvas{
  background-color: whitesmoke;
  min-width: 60vw;
  min-height: 80vh;
}